<h1>Listing users</h1>

<table>
  <%= for user <- @users do %>
    <tr>
      <td><%= user.user_id %></td>
      <td><b><%= username(user) %></b></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link "View", to: Routes.user_path(@conn, :show, username(user)) %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link("Add new user", to: Routes.user_path(@conn, :new)) %>
</div>
