<h1>New User</h1>

<%= form_for @conn, user_path(@conn, :create), [as: :user], fn f -> %>
  <div>
    <%= text_input f, :name, placeholder: "Full Name" %>
  </div>
  <div>
    <%= text_input f, :email, placeholder: "Email" %>
  </div>
  <div>
    <%= text_input f, :password, placeholder: "password" %>
  </div>
  <%= submit "Create User" %>
<% end %>
