<h1>Showing User</h1>
<div>
  <p>
    <%= @user.user_id %>,
    <%= username(@user) %>,
    <%# <%= @user.name %1>, %>
    <%# <%= @user.email %1> %>
  </p>
  <%= link("Show users", to: Routes.user_path(@conn, :index)) %>
</div>
